<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>任务列表</title>
  <link rel="stylesheet" href="./fonts/iconfont.css">
  <link rel="stylesheet" href="./css/task.css">
  <script type="text/javascript" src="./assets/js/vue.js"></script>
</head>
<body>
  <div class="container" id="app">
    <p>新建任务</p>
    <input type="text" v-model="title" placeholder="填写任务名,例如：吃饭睡觉" @keyup.enter="add" @keyup.esc="title=''">
    <div class="tab" v-show="list.length">
      <a href="javascript:;" class="tip">共{{total}}个任务待完成</a>
      <a href="javascript:;" class="fr btn" :class="{current:currentTab==='finished'}" @click="finished">已完成</a>
      <a href="javascript:;" class="fr btn" :class="{current:currentTab==='notFinished'}" @click="notFinished">未完成</a>
      <a href="javascript:;" class="fr btn" :class="{current:currentTab==='all'}" @click="allList">全部</a>
    </div>
    <p>任务列表：</p>
    <p class="notask" v-show="!list.length">当前无任务！</p>
    <ul>
      <li v-for='item in list' :class="{done:item.finished,editing:item===editItem}" >
        <input type="checkbox" v-model="item.finished">
        <label  @dblclick="preEdit(item)">{{item.title}}</label>
        <i class="iconfont" @click="remove(item)">&#xe723;</i>
        <input 
          type="text" 
          v-focus="item===editItem"
          v-model="item.title"
          @blur="editTask(item)"
          @keyup.enter="editTask(item)"
          @keyup.esc="cancleEdit(item)"
        >
      </li>
    </ul>
  </div>
  <script src="./js/task.js"></script>
</body>
</html>