<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ncform</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.4.3/lib/theme-chalk/index.css">
</head>
<body>
  <div id="demo">
    <h1>ncForm</h1>
    <el-tabs :tab-position="tabPosition">
      <el-tab-pane label="input">
        <ncform :form-schema="inputSchema" form-name="inputSchema" v-model="inputSchema.value"></ncform>
        <el-button @click="submit('inputSchema')">Submit</el-button>
      </el-tab-pane>
      <el-tab-pane label="input-number">
        <ncform :form-schema="inputNumberSchema" form-name="inputNumberSchema" v-model="inputNumberSchema.value"></ncform>
        <el-button @click="submit('inputNumberSchema')">Submit</el-button>
      </el-tab-pane>
      <el-tab-pane label="角色管理">角色管理</el-tab-pane>
      <el-tab-pane label="定时任务补偿">定时任务补偿</el-tab-pane>
    </el-tabs>
    
  </div>
  <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.min.js"></script>

  <script type="text/javascript" src="https://unpkg.com/@ncform/ncform-common/dist/ncformCommon.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/@ncform/ncform/dist/vueNcform.min.js"></script>

  <script type="text/javascript" src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script type="text/javascript" src="https://unpkg.com/@ncform/ncform-theme-elementui/dist/ncformStdComps.min.js"></script>
  <script src="./js/me.js"></script>
</body>
</html>